$radius-size: 4px;

.WarpContent {
    &__form{
        border-bottom-left-radius: $radius-size;
        border-bottom-right-radius: $radius-size;
        @include background-opacity($light-grey, 0.2);
        &__content {
            width: 790px;
            margin: 0 auto;
            padding: $space-52 0!important;

            &__label {
                bottom: 63px;
                position: absolute;         
            }

            &__col {
                &:nth-child(2) {
                    flex-basis: 24px;
                    max-width: 24px;
                    text-align: center;
                }
            }
            &__input {
                @extend .text-format-input;
                &__amount {
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    text-align: right;
                }
            }
            
            &__btn {
                @extend .text-format-button;
                margin-bottom: 1rem;
                background-color: map-get($palette-colors, blue-120)!important;
                &.btn {
                    &:hover {
                        opacity: 0.85;
                        background-color: map-get($palette-colors, blue-120)!important;
                    }
                    &:disabled {
                        opacity: 0.2;
                        background-color: map-get($palette-colors, blue-120)!important;
                    }
                }
            }

            .ui-select {
                &__value-display {
                    border-bottom-left-radius: $radius-size;
                    border-top-left-radius: $radius-size;
                }

                &__options {
                    top: 44px;
                    border-bottom-left-radius: $radius-size;
                    border-bottom-right-radius: $radius-size;
                }
            }

            

            &__errorFeedback {
                &__form {
                    @extend .text-format-label;
                    border-radius: $radius-size;
                    background-color: $brand-danger;
                    padding: $space-4;
                    text-align: center;
                }
                &__submit {
                    @extend .text-format-label;
                    color: $brand-danger;
                    padding: $space-24;
                    text-align: center;
                }
            }
        }
    }
}