@import '../../../sass/utilities/variables';

.WarpChainTitle {
    &.card-header {
        background:none;
        border:none;
    }
    .row {
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }
    &__asset, &__swap {
        text-align: center;
        font-size: $font-size-h4;
        font-weight: map-get($font-weights, semibold);
    }
    
}