@import '~@/sass/utilities/variables';

.WarpChainTitle {
    &.card-header {
        background: map-get($gradient, 'title');
    }
    &__row {
        &__asset, &__swap {
            text-align: center;
        }
    
        &__asset {
            font-size: $font-size-h4;
            &__text {
                span {
                    padding-right: $space-16;
                }
            }
        }
    
        &__swap {
            cursor: pointer;
            font-size: $font-size-h6;
        }
    }   
}